:root {
  --accpink: #ff8298;
}

::-moz-selection {
  color: #ccc;
  background-color: var(--accpink);
}

::selection {
  color: #ccc;
  background-color: var(--accpink);
}

input[type=text], input[type=password] {
  appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  border: 1px solid pink;
  background: #fff1;
  height: 32px;
  color: #ccc;
  font-size: 1rem;
}

.regis-login {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 2rem;
  gap: 1rem;
  text-align: left;
  border: 1px dashed var(--accpink);
  background: #ac558544;
}

body {
  background: black;
  accent-color:  var(--accpink);
  color: #ccc;
  font-family: "Playfair Display";
  height: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #ccc;
}
.nav {
  height: 10%;
  display:flex;
  margin: 1rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navlist {
  list-style: none;
  width: -moz-available;
  width: -webkit-fill-available;
  width: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navlist li {
  font-family: "Playfair Display", monospace;
  font-size: 1.2rem;
}

.navlink {
  padding: 0.5rem;
  transition: all 0.5s;
}
.navlink:hover {
  color: pink;
  background: #333;
 }

img {
  border: 1px solid pink;
  max-height: 100px;
  max-width: 100px;
  float: left;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 1rem;
  padding: 0.5rem;
  background: #1f1f1f;
  border: 1px solid pink;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
  min-height: 200px;
}

.ele {
  font-family: "Times New Roman";
  font-size: 1rem;
  /* width: 20%; */
  font-weight: normal;
  display: inline-block;
}

.name {
  font-family: "Helvetica";
  font-weight: bold;
}

.blurb {
  font-style: italic;
  width: 30%;
}

.buttondiv {
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items: center;
  gap: 1rem;
}

.btn {
  border: 1px solid white;
  background: #1f1f1f;
  padding: 0.4rem 0.8rem;
  max-width: fit-content;
  font-size: 1rem;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  background: pink;
  color: black;
}

.a_special{
  display:block;
  margin: 0 auto;
}

#review_form {
  border: 1px solid pink;
  width: 90%;
  margin: 10px auto;
  padding: 1rem 0;
}

.form_ele {
  padding: 0.5rem;
  color: pink;
  margin: 1rem;
  border: 1px dashed pink;
  width: 80%;
}
#review_title {
  background: transparent;
  height: 1rem;
}
#review_text {
  background: rgba(255, 255, 255, 0.05);
  height: 4rem;
}

.post_review {
  background-color: #333;
  color: white;
  font-family: "Times New Roman", "Playfair Display", serif;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  font-size: 1rem;
  padding: 0.7rem;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid pink;
  transition: all 0.1s;
}

.post_review:hover {
  background-color: var(--accpink);
  color: black;
  scale: 0.95;
}

.review_grid {
  display: grid;
  margin: 0 auto;
  justify-items: center;
  gap: 1rem; /* Space between grid items */
  grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
}

.review_item {
  border: 1px solid pink;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #1f1f1f;
}

.grid_element_title {
  font-family: "Playfair Display", sans-serif;
}

.small_text {
  font-size: 0.8rem;
  font-weight: 100;
  letter-spacing: 1px;
}

@media (max-width: 600px) {
  .review_grid {
    grid-template-columns: 1fr; /* Only one column on small screens */
  }
}

.footer {
  height: 100px;
  line-height: 100px;
  text-align: center;
  border: 1px solid pink;
  margin: 1rem;
}
.tag {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

@media only all and (max-width: 900px) {
  .ele {
    width: 50%;
  }
  .author, .blurb {
    display: none;
  }
  .buttondiv {
    flex-direction: column;
  }
}