{% include 'top.html' %}
<title>{{title}}</title>
</head>
<body>
  {% include 'nav.html' %}
  <div class="container">
    <pre>
      # Add word filter for reviews
      # Add pagination for reviews (that thing with the pages listed (< 1 2 3 >)) OR infinite scroll
      # Search bar for books
      # Sorting books and reviews
      # Getting book info from some API
      # Add user login
      # Add captcha to form
      # Add admin login
      # Rating for each book in review
      # Like reviews

    </pre>
  </div>
  {% include 'footer.html' %}
    </body>
  </html>