{% include 'top.html' %}
  <title>Silver</title>
</head>
<body>
  {% include 'nav.html' %}
  <div class="container">
    <h1>BooksRak</h1>
    <i>It was the best of times, it was the worst of times.</i>
    <div>
    <img src= "{{url_for('static', filename='1570663126377.png')}}" >
    </div>
    <p>Whether you're a seasoned bibliophile or just starting your literary journey,BooksRak is your one-stop shop for everything book-related. Let's find your next favorite read together!</p>
    <div class="flex">
    <a href="/books" class="btn a_special">View books</a>
    <a href="/login" class="btn a_special">Login</a>
    <a href="/register" class="btn a_special">Register</a>
    </div>
  </div>
  {% include 'footer.html' %}
  </body>
</html>