{% include 'top.html' %}
<title>Login</title>
  </head>
<body>
  {% include 'nav.html' %}
    <div class="container">
    <form action="" method="post" class="regis-login">
      <h1>Log in to BooksRak</h1>
      <a href="/register" class="external_links">Don't have an account? Sign up.</a>
      <label for="username">Username</label>
      <input type="text" minlength=4 maxlength=21 name="username" required>
      <label for="password">Password</label>
      <input type="password" name="password" required>
      <input type="submit" value="Login">
    </form>
    </div>
    {% include 'footer.html' %}
  </body>
</html>