{% include 'top.html' %}
<title>Login</title>
  </head>
  <body>
    <div style="height:10vh;">
      <h1 style="margin: auto;">Welcome!</h1>
    </div>
    <div class="container">
    <form action="" method="post" class="regis-login">
      <label for="username">Username</label>
      <input type="text" name="username">
      <label for="password">Password</label>
      <input type="password" name="password">
      <input type="submit" value="Login">
    </form>
    </div>
    {% include 'footer.html' %}
  </body>
</html>