{% include 'top.html' %}
    <title>BooksRak Books</title>
  </head>
  <body>
    {% include 'nav.html' %}
    <form class="search_field" action="{{ url_for('search_books') }}" method="get">
        <input type="text" name="query" required placeholder="Search for books...">
        <!-- <input class="btn" type="submit" value="Submit"/> -->
    </form>
    <div class="container">
    {% for book in books %}
      <div class="flex">
      <img src="{{book.img_url}}" width=70 height=100>
      <span class="name ele external_links"><a href="/book/{{book['book_id']}}" type="button">{{book.book_name}}</a></span>
      <span class="author ele">{{book.author_name}}</span>
      <div class="buttondiv">
      <a href="/book/{{book['book_id']}}/reviews" type="button" class="btn">Read Reviews</a>
      <span class="">{{book.avg_rating}}</span>
      </div>
      </div>
    {% endfor %}
    </div>
    {% include 'footer.html' %}
  </body>
</html>