{% include 'top.html' %}
<title>{{user.username}}</title>
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="profile-container">
      {% if user.profile_picture_link %}
          <img src="{{ user.profile_picture_link }}" alt="Profile Picture" height=128 width=128 class="review_pfp thick_border">
      {% else %}
           <img src="{{url_for('static', filename='default.jpg')}}" alt="Profile Picture" height=128 width=128 class="review_pfp thick_border">
      {% endif %}
      <h1>@{{ user.username }}</h1>
      <p>User ID: {{ user.user_id }}</p>
      <p>Account created on: {{ user.created_at }}</p>
    </div>
    {% include 'footer.html' %}
  </body>
</html>