{% include 'top.html' %}
<title>Reviews for {{book.book_name}}</title>
  </head>
  <body>
    {% include 'nav.html' %}
    <h1>Reviews for {{book.book_name}}</h1>
    <div class="review_grid">
      {% for review in reviews_data %}
        <div class="review_item">
          <div class="user">
        {% if review.profile_picture_link=='default.jpg' %}
          <img class="review_pfp" src="{{ url_for('static', filename=review.profile_picture_link) }}" alt="Profile picture of {{ review.username }}" width=24 height=24>
        {% else %}
          <img class="review_pfp" src="{{ review.profile_picture_link }}" alt="Profile picture of {{ review.username }}" width=24 height=24>
        {% endif %}
        <a class="review_username external_links" href="/@{{review.username}}">@{{review.username}}</a>
            <h2 class="review_rating">{{review.review_rating}}⭐</h2>
          </div>
        <h3 class="grid_element_title">{{review.title}}</h3>
        <p class="small_text">{{review.content}}</p>
        <button type="button" class="like_button" data-review-id="{{ review.review_id }}"><i class="lni lni-heart"></i> {{ review.likes }}</button>
        </div>
      {% endfor %}
    </div>
    <a href="/book/{{book.book_id}}" class="btn">Post your own review</a>
    {% include 'footer.html' %}
  </body>
</html>